Label.grid {
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-background-color: lightblue;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

Label.unhit {
    -fx-background-color: darkgrey;
}

Label.empty {
    -fx-background-color: lightblue;
}

Label.hit {
    -fx-background-color: red;
}

Label.miss{
    -fx-background-color: blue;
}

Label.bottom {
    -fx-padding: 0 8px 0 4;
    -fx-font-size: 12pt;
    /*-fx-text-fill: orange;*/
    -fx-font-family: "HP Simplified Light", "Comic Sans MS";
}

.hitBoard {
    -fx-padding: 10px 50px 35px 50px;
    -fx-alignment: center;
}

.own {
    -fx-alignment: center;
    -fx-padding: 10px 50px 20px 50px;
}

.doneBtn {
    -fx-font-family: "HP Simplified Light", "Comic Sans MS";
    -fx-font-size: 12pt;
    -fx-padding: 10px 14px 10px 14px;
    -fx-alignment: center;
    -fx-min-width: 80px;
    -fx-min-height: 25px;
    -fx-background-color: #98FFB0;
    -fx-border-radius: 5px;
}

.doneBtn:hover{
    -fx-font-family: "HP Simplified Light", "Comic Sans MS";
    -fx-font-size: 12pt;
    -fx-padding: 10px 14px 10px 14px;
    -fx-alignment: center;
    -fx-min-width: 80px;
    -fx-min-height: 25px;
    -fx-text-fill: white;
    -fx-background-color: #30CC54;
}

.notDoneBtn {
    -fx-font-family: "HP Simplified Light", "Comic Sans MS";
    -fx-border-radius: 5px;
    -fx-font-size: 12pt;
    -fx-padding: 10px 14px 10px 14px;
    -fx-alignment: center;
    -fx-min-width: 80px;
    -fx-min-height: 25px;
    -fx-background-color: #FF7E87;

}

.notDoneBtn:hover{
    /*-fx-font-weight: 4pt;*/
    -fx-font-family: "HP Simplified Light", "Comic Sans MS";
    -fx-font-size: 12pt;
    -fx-padding: 10px 14px 10px 14px;
    -fx-alignment: center;
    -fx-min-width: 80px;
    -fx-min-height: 25px;
    -fx-text-fill: white;
    -fx-background-color: #CC303B;
    /*-fx-font-weight: 4pt;*/

}

.textAboveButton {
    -fx-text-alignment: center;
    -fx-font-family: "HP Simplified Light", "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-background-color: red;
    -fx-padding: 20px 0 20px 0;
}

.infoText, .infoText2 {
    -fx-font-family: "HP Simplified Light", "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-padding: 10px;
}

.vBox {
    -fx-alignment: center;
}

Label.info {
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-alignment: center;
    -fx-font-family: "HP Simplified Light", "Comic Sans MS";
}

Label.firstSquare {
    -fx-background-color: black;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
}

.buttonGrid {
    -fx-alignment: center;
}

.hide {

}
